/.gradle/
/build/


GE/GE Anlage45 - Abschlusszeugnis FOR-Q - Format A3 - V08_10.rtm
GE/GE Anlage39u40 - Zeugnis 05-10 - V08_10.rtm
GE/GE Anlage41 - Ueberweisungszeugnis - V08_10.rtm
GE/GE Anlage42 - Abgangszeugnis - Format A3 - V08_10.rtm
GE/GE Anlage43 - Abschlusszeugnis HA - Format A3 - V08_10.rtm
GE/GE Anlage44 - Abschlusszeugnis HA10 - Format A3 - V08_10.rtm
